[Unit]
Description=Temperature and USB Log Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/system_monitor/log_temp_usb.sh
Restart=on-failure
StandardOutput=append:/home/[PC_NAME]/temp_log/system_monitor.log
StandardError=append:/home/[PC_NAME]/temp_log/system_monitor_error.log

[Install]
WantedBy=multi-user.target
